.DS_Store
nm
DEV_nm
DEV2_nm
nm.txt
DEV_nm.txt
DEV2_nm.txt
DIFF_nm.txt
nm_diff_checker.py
nm_stripper.py
lang/
venv/packages/Package_Full_Original_Country_Names/WTHLM_nations_full_original.csv
.gitignore
